.product_card {
	padding: 16px;
	--margin-card: 16px;
	margin: var(--margin-card);
	background-color: var(--bg-secondary-color);
	gap: 10px;
	width: 300px;
	height: 450px;
	border: 1px var(--border-primary-color) solid;
	border-radius: 10px;

	display: flex;
	flex-direction: column;

	.image_container {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		background-position: 50% 50%;
		height: 300px;
		border-radius: 10px;

		img {
			width: 100%;
			background-size: cover;
			height: 100%;
			background-position: 50% 50%;
		}
	}
	.description {
		display: -webkit-box;
		max-width: 400px;
		max-height: 10vh;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
